@font-face {
  font-family: 'Beach';
  src: url('../Assets/BeachSunny.otf') format('opentype'); 
  font-weight: normal;
  font-style: normal;
}

.newcollections{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-width: 1280px;
    margin: auto;
}
.newcollections h1{
    font-size: 66px;
    font-family: 'Beach', sans-serif; 
    font-weight: 600;
     color: #2c7896;
}

.collections{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px
}
/* ---------- media query------------ */

@media(max-width: 800px){
    .newcollections h1{
        font-size: 30px;
    }
    .newcollections hr{
        width: 80px;
        height: 4px;
        
    }
}