.container{
    height: 70vh;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    gap: 20px;
    color: #333333;
}

.header {
    font-size: 50px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    padding: 20px;
    background-color: #00968890;
    border-radius: 20px;
}

.body {
    padding: 20px;
    background-color: #FF6F6190;
    height: 50vh;
    border-radius: 20px;
}

.body h2 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}

.body p {
    text-indent: 70px;
}

.team {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team h2 {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 600;
}

.footer {
    padding: 50px;
}