.registration-form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50vh;
    min-height: 50vh;
    padding: 5px;
    flex-direction: column;
}

.name-entry{
    display: flex;
    gap: 16px;
}

.login-redirect {
    font-size: small;
}

.entry-field .MuiOutlinedInput-notchedOutline{
    border-color: #009688;
}

.entry-field .Mui-focused .MuiOutlinedInput-notchedOutline{
    border-color: #009688;
}

.entry-field .Mui-focused{
    color: #009688;
}

.entry-field .MuiOutlinedInput-root	{
    background-color: #FAF3E030;
}

.entry-field .MuiOutlinedInput-input {
    color: #333333;
}