.Offers {
    margin: 100px auto;
    width: 65%;
    display: flex; /* Side-by-side layout instead of top down*/
    align-items: center;
    justify-content: center; 
    gap: 30px; /* spacing between left and right */
    padding: 0px 8%;
    margin-bottom: 50px;
    background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%); /* Gradient background for styling */
    border-radius: 8px;
}

.offers-left {
    display: flex;
    flex-direction: column; /* Stacking the text and button vertically and centering all */
    align-items: center; 
    text-align: center; 
    gap: 15px;
}

.offers-left h1 {
    color: #171717;
    font-size: 30px;
    font-weight: 600;
    margin: 0;
}

.offers-left p {
    color: #171717;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

.offer-button {
    width: 200px;
    height: 50px;
    border-radius: 35px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.offer-button:hover {
    background: #45a049;
}

.offers-right {
    display: flex;
    align-items: center; /* Image container */
}

.offer-image {
    width: 320px;
    height: auto;
    padding-top: 20px;
}